@tailwind base;
@tailwind components;
@tailwind utilities;


/* scroll bar */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #8B8B8B;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #a09d9d;
  }
  
  ::-webkit-scrollbar-track{
    background-color: #dbd7d7;
    border-radius: 5px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  